PORT=3000
NODE_ENV=development
MONGO_URI=mongodb://localhost:27017/hit-moments
CLOUD_NAME=
API_KEY=
API_SECRET=
ADMIN_FULLNAME=
ADMIN_PASSWORD=
ADMIN_EMAIL=
JWT_SECRET=
JWT_EXPIRE=
EMAIL_SMTP_SERVICE=
EMAIL_SMTP_HOST=
EMAIL_SMTP_PORT=
EMAIL_SMTP_SECURE=
EMAIL_SMTP_AUTH_USER=
EMAIL_SMTP_AUTH_PASS=
API_URL=
FRONTEND_URL=
JWT_VERIFY_EMAIL_SECRET=
JWT_VERIFY_EMAIL_EXPIRE=
EMAIL_RESEND_TIME=
OTP_EXPIRE_TIME=
JWT_OTP_SECRET=
JWT_OTP_EXPIRE=
TIKTOK_URL=
TIKTOK_TOKEN=
TIKTOK_COOKIE=
TIKTOK_IMAGE_URL=
DISCORD_TOKEN=
DISCORD_CLIENT_ID=
