<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <table style="font-family: sans-serif; margin: 0 auto; max-width: 600px; padding: 20px">
      <tr align="center">
        <td style="color: #ff802b; font-size: 52px; font-weight: bold">HIT MOMENTS</td>
      </tr>
      <tr align="center">
        <td>
          <img src="https://i.ibb.co/HVPHnH6/birthday.png" alt="" style="width: 200px" />
        </td>
      </tr>
      <tr align="center">
        <td style="font-size: 32px">Chúc mừng sinh nhật!</td>
      </tr>
      <br />
      <tr>
        <td style="font-size: 18px; padding: 8px 0">Xin chào <strong><%= data.user.fullname %></strong>,</td>
      </tr>
      <tr>
        <td style="font-size: 18px; padding: 8px 0">
          Chúng tôi xin gửi lời chúc mừng sinh nhật chân thành nhất đến bạn. Chúc bạn có một ngày sinh nhật thật vui vẻ
          và ý nghĩa bên cạnh những người thân yêu.
        </td>
      </tr>
      <tr>
        <td style="font-size: 18px; padding: 8px 0">
          Cảm ơn bạn đã tin tưởng và sử dụng dịch vụ của chúng tôi. Chúng tôi luôn mong muốn mang đến cho bạn những trải
          nghiệm tốt nhất.
        </td>
      </tr>
      <tr>
        <td style="font-size: 18px; padding: 8px 0">
          Chúc bạn luôn thành công trong công việc và hạnh phúc trong cuộc sống.
        </td>
      </tr>
      <tr align="right">
        <td style="font-size: 18px; padding: 8px 0">Trân trọng,</td>
      </tr>
      <tr align="right">
        <td style="font-size: 18px; padding: 8px 0">
          <strong>HIT Moments</strong>
        </td>
      </tr>
    </table>
  </body>
</html>
