<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <table style="font-family: sans-serif; margin: 0 auto; max-width: 600px; padding: 20px">
      <tr align="center">
        <td style="color: #ff802b; font-size: 52px; font-weight: bold">HIT MOMENTS</td>
      </tr>
      <tr align="center">
        <td>
          <img
            src="https://i.ibb.co/pR1rSDt/otp-2fa-authentication-password-secure-notice-login-verification-with-push-code-concept-illustration.png"
            alt=""
            style="width: 200px"
          />
        </td>
      </tr>
      <tr align="center">
        <td style="font-size: 32px">Mã xác minh của bạn</td>
      </tr>
      <br />
      <tr>
        <td style="font-size: 18px; padding: 8px 0">Xin chào <strong><%= data.user.fullname %></strong>,</td>
      </tr>
      <tr>
        <td style="font-size: 18px; padding: 8px 0">
          Chúng tôi đã nhận được yêu cầu của bạn về mã xác minh. Dưới đây là mã xác minh của bạn:
        </td>
      </tr>
      <tr align="center">
        <td style="font-size: 52px; padding: 8px 0; color: #ff802b; font-weight: bold; letter-spacing: 8px">
          <%= data.otp %>
        </td>
      </tr>
      <tr>
        <td style="font-size: 18px; padding: 8px 0">
          Mã xác minh này sẽ hết hạn sau <strong>3 phút</strong>. Vui lòng không chia sẻ mã xác minh này với bất kỳ ai.
        </td>
      </tr>
      <tr>
        <td style="font-size: 18px; padding: 8px 0">Nếu bạn không thực hiện yêu cầu này, vui lòng bỏ qua email này.</td>
      </tr>
      <tr>
        <td style="font-size: 18px; padding: 8px 0">
          Nếu bạn có bất kỳ câu hỏi nào, hãy liên hệ với chúng tôi theo địa chỉ email:
          <a href="mailto:info.hitmoments@gmail.com" style="color: #ff802b">info.hitmoments&#64;gmail.com</a>
        </td>
      </tr>
    </table>
  </body>
</html>
